{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>La Bonne Voiture</h1>
        <p class="lead">Trouvez votre prochaine voiture parmi notre catalogue complet.</p>
        <p class="lead">Complétez vos revenus en louant ou en vendant votre voiture.</p>

        <div class="actions">

            <a href="{{ path('advert_index') }}" class="btn btn-primary">Je veux acheter ou emprunter</a>
            <a href="{{ path('advert_new') }}" class="btn btn-success">Je veux vendre ou louer</a>

        </div>
    </div>

{% endblock %}
