{% extends 'base.html.twig' %}

{% block title %}New AdvertType{% endblock %}

{% block body %}
    <h1>Create new AdvertType</h1>

    {{ include('advert_type/_form.html.twig') }}

    <a href="{{ path('advert_type_index') }}">back to list</a>
{% endblock %}
