<form method="post" action="{{ path('advert_delete', {'id': advert.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cette annonce ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advert.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
