{% extends 'base.html.twig' %}

{% block title %}Edit Advert{% endblock %}

{% block body %}
    <h1>Éditer l'annonce</h1>
    <a href="{{ path('advert_show', {id: advert.id}) }}">Revenir à l'annonce</a>

    <hr>

    {{ include('advert/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    {{ include('advert/_delete_form.html.twig') }}
{% endblock %}
